*.swp
*.pyc
build/*
doc/build
dist/
config.ini
bin/
include/
lib/
local/
share/
panobbgo.egg-info/
panobbgo_problems.egg-info/

doctrees/*

html/.buildinfo

pdf/*.cls
pdf/*.tex
pdf/*.sty
pdf/inheritance-*.pdf
pdf/*.aux
pdf/*.idx
pdf/*.ilg
pdf/*.ind
pdf/*.log
pdf/*.out
pdf/*.toc
pdf/Makefile
pdf/*.ist


