.coverage
.idea/*.iml
.idea/workspace.xml
.idea/tasks.xml
*.swp
*.pyc
man/
build/*
doc/build
dist/
config.ini
bin/
include/
local/
share/
panobbgo.egg-info/
panobbgo_lib.egg-info/
cover/
*.sublime-workspace
coverage.xml
